<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <h1>Super Sprinter 3000</h1>
        <div class="add">
            <button><a href="/story">Add new story</a></button>
            <p>To edit click on story title</p>
        </div>
        <table>
            <thead id="thead">
                <tr>
                    <th>ID</th>
                    <th>STORY TITLE</th>
                    <th>USER STORY</th>
                    <th>ACCEPTANCE CRITERIA</th>
                    <th>BUSINESS VALUE</th>
                    <th>ESTIMATION</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {% for line in user_stories %}
                <tr>
                    <td>{{ line.id }}</td>
                    <td id="linetitle">
                        <a href="/story">{{ line.title }}</a>
                    </td>
                    <td>{{ line.user_story }}s</td>
                    <td>{{ line.acceptance_criteria }}</td>
                    <td>{{ line.business_value }}</td>
                    <td>{{ line.estimation }}</td>
                    <td>{{ line.status }}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>

</body>

</html>