<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Staatliches&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <h1>Super Sprinter 3000</h1>
        <div class="add">
            <button><a href="/add">Add new story</a></button>
        </div>
        <table>
            <thead id="thead">
                <tr>
                    <th>ID</th>
                    <th>STORY TITLE</th>
                    <th>USER STORY</th>
                    <th>ACCEPTANCE CRITERIA</th>
                    <th>BUSINESS VALUE</th>
                    <th>ESTIMATION</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td id="linetitle">
                        <a href="/">List all User Stories</a>
                    </td>
                    <td>As a User,I want to see all the previously saved User Stories,So that I get an overview of all
                        requirements</td>
                    <td>Given that there are any number ({0..n}) of saved User Stories,When I open the website (/),Then
                        ensure I see a table with all the stored data</td>
                    <td>1000 point</td>
                    <td>2.5 h</td>
                    <td>planning</td>
                </tr>
            </tbody>


        </table>
    </div>
</body>

</html>