<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Document</title>
</head>

<body>
    <h1>Super Sprinter 3000</h1>
    <a href="/add">Add new story</a>
    <table>
        <thead id="thead">
            <tr>
                <th>ID</th>
                <th>STORY TITLE</th>
                <th>USER STORY</th>
                <th>ACCEPTANCE CRITERIA</th>
                <th>BUSINESS VALUE</th>
                <th>ESTIMATION</th>
                <th>STATUS</th>
            </tr>
        </thead>


    </table>

</body>

</html>